
/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-300 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/mulish-v11-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/mulish-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/mulish-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
  box-sizing: border-box;
}
*, *::before, *::after {
box-sizing: inherit;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 42px;
  color:  rgba(0, 0, 0, 1);
  max-width: 500px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  color: rgba(0, 0, 0, 1);
} 

p {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

body{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;   
  text-align: center; 
  height: 100vh;
  background: url(/img/giphy.gif) no-repeat center;
  background-size: cover;
  max-width:1600px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto; 
}

.wrapper{
  display: flex;
  justify-content: space-between;
  width: 1020px;
}

.wrapper_timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 30px;
    background-color: rgba(243 223 235 / 50%);   
    height: 255px;
    width: 557px;
    margin: auto;
}

.timer_title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 42px;
  color:  rgba(0, 0, 0, 1);
  max-width: 600px;
}

.timer_title_p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color:  rgba(0, 0, 0, 1);
}

.countdown_timer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.timer{
  background-color: #e2d2e3;
  min-width: 82px;
}

.calendar_title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  text-transform: uppercase;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  display: none;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.title_event_user{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  text-transform: uppercase;
}





































